{% extends "base.html" %}
{% load static %}

{% block title %}Elemento Agua{% endblock %}

{% block content %}
<main class="elemento-container elemento-agua">

    <section class="contenido-horizontal">
        <div class="avatarAgua">
            <!-- Contenedor para el modelo 3D -->
            <div id="contenedor-3d-avatar_agua_femenina" style="width: 100%; height: 400px;" title="Arrastra con el mouse para mover la vista. Usa la rueda para acercar o alejar."></div>
        </div>

        <section class="descripcion">
            <h2>Elemento Agua: Emoción, Fluidez y Curación</h2>
            <p>Eres el Agua: profunda, sensible y transformadora. Tu energía femenina fluye entre emociones, conecta corazones y alivia heridas. Tu intuición guía y tu compasión envuelve. En ti se encuentra la capacidad de adaptarse, de sanar y de reflejar la verdad del alma.</p>

            <div class="acciones">
                <a href="{% url 'mision_agua_femenina' %}" class="btn btn-mision">Haz clic aquí para iniciar misión</a>
                <br><br>
                <a href="{% url 'elementos' %}" class="btn">Volver a los Elementos</a>
            </div>
        </section>
    </section>
</main>

<!-- Script personalizado para cargar el modelo agua -->
<script type="module" src="{% static 'js/avatar_agua_femenina.js' %}"></script>

{% endblock %}
