.carousel-inner {
    display: flex;
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: center;
    position: relative;
    
}

.carousel-item img {
    width: 100%;
    margin-left: -50px;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}



/* Controles del carrusel */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: none;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    z-index: 20;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}

/* Responsive para móviles */
@media (max-width: 768px) {
    .carousel-item img {
        max-width: 300px;
    }

    .carousel-control {
        padding: 0.6rem 1rem;
        font-size: 1.2rem;
    }
}
